/*初始化*/
html {
    height: 100%;
    -webkit-user-select: none;
}

a,a:focus{
    outline:none;
}

body {
    height: calc(100% - 50px);
    overflow: hidden;
    color: #fff;
    /*background: #3E3E42;*/
    background: #1E1E1E;
}
.mr5 {
    margin-right: 10px;
}
/***************************自定义滚动条*******************/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.9);
}

::-webkit-scrollbar {
    width: 10px;
    background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(202,202,202,0.07)),color-stop(100%,rgba(229,229,229,0.07)));
    background: -webkit-linear-gradient(left,rgba(202,202,202,0.07) 0%,rgba(229,229,229,0.07) 100%);
    box-shadow: 0 0 1px 0 rgba(0,0,0,.15) inset,0 1px 0 0 #fff;
    background-color: #ccc;
}

::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
    overflow: visible;
    /*border-radius: 4px;*/
    border-right: solid 1px #a6a6a6;
}

::-webkit-scrollbar-thumb {
    background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(233,233,233,0.05)),color-stop(100%,rgba(221,221,221,0.05)));
    background: -webkit-linear-gradient(left,rgba(233,233,233,0.05) 0%,rgba(221,221,221,0.05) 100%);
    box-shadow: 0 2px 1px 0 rgba(0,0,0,.05);
    background-color: #ddd;
}


::-webkit-scrollbar-button {
    height: 0;
    display: block;
    background-color: transparent;
}

/************************导航**********************************/
.navbar .navbar-header img {
    float: left;
    margin-top: 8px;
    margin-right: 10px;
    margin-left: 10px;
}

.navbar .navbar-header {
    width: 200px;
}
.navbar .container {
    padding: 0;
    max-width: none;
}
.navbar .navbar-collapse {
    position: relative;
    padding: 0;
}
.navbar .navbar-collapse a {
    -webkit-app-region: no-drag;
}
.window-tool {
    position: absolute;
    right: 5px;
    top: 10px;
}

    .window-tool a.rectbtn {
        padding-left: 9px;
        padding-right: 9px;
        border-radius: 0 !important;
        border: none !important;
        background: none !important;
        box-shadow: none !important;
        color: #fff;
    }

        .window-tool a.rectbtn:hover {
            background-color: #3f3f3f !important;
        }

        .window-tool a.rectbtn:active {
            background-color: #007ACC !important;
        }

/***************************布局区域*********************************/
.app {
    height: 100%;
    overflow: hidden;
    max-width: none;
    margin-top: 50px;
    padding: 0;
}
.app .content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

.app .sidebar {
    padding: 15px;
    width: 250px;
    height: 100%;
}
.app .sidebar-middle {
    width: 300px;
}
.app .container-right {
    width: calc(100% - 250px);
    overflow: auto;
    height: 100%;
    padding-top: 15px;
    padding-right: 15px;
}
    .app .container-right-middle{
        width: calc(100% - 300px);
    }
.panel {
    border-radius: 0;
}
.panel .btn {
    border-radius:0;
}
.panel .panel-body {
    color: #666;
}
.panel textarea,.panel input {
    border-radius: 0;
    resize: none;
}
.panel-primary {
    border: none;
}
.panel-heading {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
/******************sidebar*************************/
.sidebar-list{
    overflow: auto;
    max-height: calc(100% - 34px);
    width:100%;
}
.sidebar-list-item{
    width:100%;
    border-radius: 0;
    text-align:left;
}

.list-group {
    margin-bottom: 15px;    
}
.list-group-item {
    padding: 5px 15px;
}

.sidebar-list-item h4{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}
.list-group-item.active .list-group-item-text, .list-group-item.active:hover .list-group-item-text, .list-group-item.active:focus .list-group-item-text {
    color: #ccc;
}
.list-group-item:last-child {
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}
    .list-group-item:first-child {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
    .list-group-item-text {
        overflow:hidden;
    }

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: 0;
}
/***************************************************/
.app .table {
    margin-bottom: 50px;
}

.app .table thead > tr > th,.app .table tbody > tr > td {
    border-bottom: 1px solid #333;
}
.error-message {
    display: inline-block;
    margin-top:     5px;
    color: #b94a48;
}
.error-servermsg {
    margin-left: 16.666666666666664%;
    padding: 15px;
    display: block;
    float: left;
    color: #b94a48;
}
/**********************设置页***********************/
.select {
    background: #333;
}

/************************view动画************************/
.well[ui-view] {
    height: 100%;
}

.view-enter, .view-leave {
    position: absolute;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.view-enter {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    -moz-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
}

.view-enter-active {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.view-leave {
    opacity: 1;
    /*padding-left: 0px;*/
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.view-leave-active {
    opacity: 0;
    /*padding-left: 100px;*/
    -webkit-transform: translate3d(100px, 0, 0);
    -moz-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
}

/*list动画*/
.animate-enter,
.animate-leave {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

    .animate-leave.animate-leave-active,
    .animate-enter {
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        transform: scaleY(0);
        height: 0px;
        opacity: 0;
    }

        .animate-enter.animate-enter-active,
        .animate-leave {
            -webkit-transform: scaleY(1);
            -moz-transform: scaleY(1);
            -ms-transform: scaleY(1);
            -o-transform: scaleY(1);
            transform: scaleY(1);
            height: 30px;
            opacity: 1;
        }


/*********************弹窗************************/
.dialog{
    width: 600px;
    position: absolute;
    z-index: 100;
    top: 200px;
    left: calc(50% - 250px);
}
/*********************End弹窗*********************/
/********************表单*************************/
.input-group-addon {
    border-radius:0;
}
 .input-group input.form-control-half,.input-group select.form-control-half{
     width:50%;
 }
 .input-group input.form-control-half:last-child{
     border-left:none;
 }
/********************End表单**********************/

/*************ZTREE**************/
.code-tool{
    margin-bottom: 0;
    background-color: #428bca;
    border-color: #428bca;
    text-align: center;
}
.code-tool a {
    width: 45px;
}
.ztree {
    background: #fff;
    height: calc(100% - 71px);
    overflow: auto;
}

.ztree li span{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 204px;
    display: inline-block;
}
.ztree li a.curSelectedNode {
    height: 18px;
}

/**************ENDZTREE***************/

/**************右键菜单****************/
.studio-contextmenu{
    display:block;
}
/*************************************/


/*****************code editer*********************/
.logContentWrap {
    height: calc(100% - 51px);
    overflow: auto;
    border-radius: 0;
    display:none;
}
.logContent {
    display:none;
    background: #f5f5f5;
}
.content-img{
    display:block;
    margin: 0 auto;
}
.CodeMirror {
    height:100%;
}

#msg{
    width:100%;
    height:36px;
}

div.warnings{
    background-color: #f0ad4e !important;
    border-color: #eea236 !important;
    color: #fff !important;
}
div.errors{
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
}
.CodeMirror-focused .cm-matchhighlight {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
        background-position: bottom;
        background-repeat: repeat-x;
      }

.editor-tool .mdfi-icon{
    width: 16px;
    height: 16px;
    display: inline-block;
}
.editor-tool .mdfi-icon:hover{
    background:#1C97EA;
}
.editor-tool {
    margin-bottom: 0;
    background:#2D2D30;
    border-bottom: 2px solid #357ebd;
    height:36px;
}
.editor-tool a{
    cursor:default;
    background:#357ebd ;
}
.editor-tool .editor-tab-blur{
    background:#2D2D30;
    border:1px solid #2D2D30;
}
.editor-tool .editor-tab-blur:hover{
    background-color: #3276b1;
    border-color: #285e8e;
}

.editor-tool a.editor-tab-blur i{
    visibility:hidden;
}
.editor-tool a.editor-tab-blur:hover i{
    visibility:visible;
}
.editor-tool a i{
    cursor:pointer;
    margin-left: 5px;

}