<div style="height:100%;width:100%;padding:15px;" id="templatterdel">
    <script>
        setTimeout(function () {
            $('#templatterdel').css('overflow', 'auto');
        }, 1000);
    </script>
    <h1>Gungnir</h1>
    <h3>简介</h3>
    <p>本地代理调试工具,用于替代fiddler. 使用起来比较简便,功能较单一.</p>
    <h3>自动下载线上文件到本地并开启代理.</h3>
    <ol>
        <li>
            <p>
                拖动一个本地工作目录(文件夹)到软件左下角<br />
                <img src="http://oneaboveall.qiniudn.com/dgzf8jta50v5zzp9no2zot0fqo.png" />
            </p>
        </li>
        <li>
            <p>
                点击左上工具条的&quot;+&quot;按钮,出现表单<br />
                <img src="http://oneaboveall.qiniudn.com/zeqg9ot49hvkj6f2x8h1le3w37.png" />
            </p>
        </li>
        <li>
            <p>
                填写要调试的线上文件地址,如下:<br />
                <img src="http://oneaboveall.qiniudn.com/b0z5kq6uxejhs9xdxg2h7z7u8f.png" />
            </p>
        </li>
        <li>
            <p>
                点击保存后,自动生成本地文件:<br />
                <img src="http://oneaboveall.qiniudn.com/zn4rvo1xuki0mk92ce0k6fhudt.png" />
            </p>
        </li>
        <li>
            <p>
                修改本地文件,如下把首页的背景颜色改为red: <br />
                <img src="http://oneaboveall.qiniudn.com/oatzxfq3pw0icrlb2sfmenopqf.png" />
            </p>
        </li>
        <li>
            <p>
                右键点击代理文件,选择预览,可以看到线上文件已经代理到本地:<br />
                <img src="http://oneaboveall.qiniudn.com/087d9cpfo8v6ai3r91olsadm6x.png" />
            </p>
        </li>
    </ol>
    <p><img src="http://oneaboveall.qiniudn.com/76iuh197tamdkxblz7hdprfcg1.png" /></p>
    <h3>代理工作目录中本已存在的文件</h3>
    <ol>
        <li>
            <p>
                localStyle.css是本已存在的文件:<br />
                <img src="http://oneaboveall.qiniudn.com/seyyuomyhahmpjc5bnqc23sy06.png" />
            </p>
        </li>
        <li>
            <p>
                右键点击文件localStyle,选中编辑:<br />
                <img src="http://oneaboveall.qiniudn.com/dl0y8wxwtvpzm6njd3asnuioir.png" />
            </p>
        </li>
        <li>
            <p>
                填写要代理的线上地址,并保存:<br />
                <img src="http://oneaboveall.qiniudn.com/7wrfm97d55yu8u3p3ohvvh63l3.png" />
            </p>
        </li>
        <li>
            <p>
                预览:<br />
                <img src="http://oneaboveall.qiniudn.com/lwg4wuzisznz5xufpr8evzxvtp.png" />
            </p>
        </li>
    </ol>
</div>
